{% extends 'base.html' %}

{% block pagina %}

     <body class="bodyTiago">

    <main class="grid foto">
        <figure>
            <img src="static/css/imagens/ra-tomate.jpg" alt="ra-tomate">
        </figure>
    </main>

    <aside class="grid descrição">
        <h3>Rã-tomate</h3>
        <br>
        <p>Dyscophus guineti</p>
        <br><hr><br>
        <p>Classe: Anfíbios </p>
        <p>Ordem: Anura</p>
        <p>Família: Microhylidae</p>
        <br><hr><br>
        <h3>TAMANHO</h3>
        <br>
        <p>Comprimento: 6-9,5cm</p>
        <br>
        <hr>
        <br>
        <h3>PESO</h3>
        <br>
        <p>Até 100g</p>
    </aside>

    <aside class="grid vida">
        <section class="habitos">
        <figure>
            <p>Actividade</p>
            <img src="static/css/imagens/ativ_noturna.png" alt="noturna">
            <figcaption>Noturna</figcaption>
        </figure>
        <figure>
            <p>Vida Social</p>
            <img src="static/css/imagens/social_gregaria.png" alt="gregária">
            <figcaption>Gregária</figcaption>
        </figure>
        <figure>
            <p>Dieta</p>
            <img src="static/css/imagens/dieta_omnivora.png" alt="dieta">
            <figcaption>Omnívora</figcaption>
        </figure>
        </section>
        <hr>
        <section class="reprodução">
            <figure>
                <p>Reprodução</p>
                <img src="static/css/imagens/rep_ovipara.png" alt="ovipara">
                <figcaption>Ovípara</figcaption>
            </figure>
            <figure>
                <p>Ovos</p>
                <img src="static/css/imagens/crias.png" alt="crias">
                <figcaption>1000-1500 ovos</figcaption>
            </figure>
            <figure>
                <p>Incubação</p>
                <img src="static/css/imagens/gestacao.png" alt="gestação">
                <figcaption>36 horas</figcaption>
            </figure>
            <figure>
                <p>M. Sexual</p>
                <img src="static/css/imagens/maturidade.png" alt="maturidade">
                <figcaption>Sem dados</figcaption>
            </figure>
            
        </section>



    </aside>

    <main class="grid texto">
        
        <p>Nos adultos a coloração varia entre o amarelo e o castanho, passando pelo laranja e vermelho, tornando-se mais escura à medida que envelhecem. As cores vivas alertam possíveis predadores para as toxinas que segrega através da pele, como forma de defesa. As fêmeas são maiores do que os machos.</p>
        <br><hr><br>
        <h3>HÁBITOS</h3>
        <br>
        <p>Caça por emboscada, capturando os insetos e invertebrados que passam perto do sítio onde se encontra. Embora associada à água é uma fraca nadadora. Quando ameaçada é frequente insuflar-se de modo a parecer maior e mais ameaçadora.</p>
        <br><hr><br>
        <h3>REPRODUÇÃO</h3>
        <br>
        <P>Em habitat natural, a época de reprodução é entre fevereiro e março, após as grandes chuvas. Os machos atraem as fêmeas através de uma vocalização típica que produzem. Os ovos são depositados na superfície da água ou na vegetação submersa.</P>
    </main>


    <main class="grid foto2">
        <figure>
            <img src="static/css/imagens/axolote.jpg" alt="axolote">
        </figure>
    </main>

    <aside class="grid descrição2">
        <h3>Axolote</h3>
        <br>
        <p>Ambystoma mexicanum</p>
        <br><hr><br>
        <p>Classe: Anfíbios</p>
        <p>Ordem: Caudata</p>
        <p>Família: Ambystomatidae</p>
        <br><hr><br>
        <h3>TAMANHO</h3>
        <br>
        <p>omprimento: Até 30cm</p>
        <br>
        <hr>
        <br>
        <h3>PESO</h3>
        <br>
        <p>125-180g</p>
    </aside>

    <aside class="grid vida2">
        <section class="habitos">
        <figure>
            <p>Actividade</p>
            <img src="static/css/imagens/ativ_noturna.png" alt="noturna">
            <figcaption>Noturna</figcaption>
        </figure>
        <figure>
            <p>Vida Social</p>
            <img src="static/css/imagens/social_solitario.png" alt="solitario">
            <figcaption>Solitária</figcaption>
        </figure>
        <figure>
            <p>Dieta</p>
            <img src="static/css/imagens/dieta_omnivora.png" alt="dieta">
            <figcaption>Omnívora</figcaption>
        </figure>
        </section>
        <hr>
        <section class="reprodução">
            <figure>
                <p>Reprodução</p>
                <img src="static/css/imagens/rep_ovipara.png" alt="ovipara">
                <figcaption>Ovípara</figcaption>
            </figure>
            <figure>
                <p>Ovos</p>
                <img src="static/css/imagens/crias.png" alt="crias">
                <figcaption>175-200 ovos</figcaption>
            </figure>
            <figure>
                <p>Incubação</p>
                <img src="static/css/imagens/gestacao.png" alt="gestação">
                <figcaption>2-3 semanas</figcaption>
            </figure>
            <figure>
                <p>M. Sexual</p>
                <img src="static/css/imagens/maturidade.png" alt="maturidade">
                <figcaption>18 a 24 meses</figcaption>
            </figure>
            
        </section>
    </aside>

    <main class="grid texto2">        
        
        <p>Ao contrário da maioria dos anfíbios, o Axolote não completa a metamorfose, sendo por isso uma salamandra com aspeto larvar mesmo no estado adulto (neotenia). Distingue-se pela presença de três pares de brânquias externas plumosas nos dois lados da cabeça. A pele é escura, muitas vezes com manchas. Indivíduos albinos são comuns.</p>        <br><hr><br>
        <h3>HÁBITOS</h3>
        <br>
        <p>É exclusivamente aquática durante todo o seu ciclo de vida. Estes animais são agressivos entre si, podendo morder e mutilar partes de outros indivíduos. Tem, no entanto, uma grande capacidade de regeneração dos tecidos. Alimenta-se de algas e vegetação aquática mas também de invertebrados aquáticos.</p>
        <br><hr><br>
        <h3>REPRODUÇÃO</h3>
        <br>
        <p>A época de acasalamento em habitat natural vai de dezembro a junho. O macho liberta pequenas bolsas cónicas de espermatozóides e atrai a fêmea até ao local. Esta aproxima-se e recolhe uma parte através da cloaca. Os ovos, que são fertilizados internamente, ficam aderentes à vegetação devido ao revestimento gelatinoso que os cobre.</p>
    </main>


{% endblock %}

    
   