{% extends 'base.html' %}

{% block pagina %}

     <body class="bodyTiago">

        <main class="grid main" >
          <section class="animais">

            <section class="mamiferos">
              <figure>
                <a href="mamiferos.html" alt="Mamiferos">
                  <img id="girafa" src="static/css/imagens/girafa.svg">
                  <img src="static/css/imagens/mamiferos.jpg" alt="Mamiferos">
                  <h1 class="buttonmami"><div class="button">Mamíferos</div></h1>
                </a>
              </figure>
            </section>

              <section class="aves">
                <figure>
                  <a href="aves.html" alt="aves">
                  <img src="static/css/imagens/passaros.jpg" alt="Pássaros">
                  <img id="bird" src="static/css/imagens/bird.png" alt="bird">
                  <h1><div class="button">Aves</div></h1>
                    </a>
                </figure>
              </section>

              <section class="repteis">
                <figure>
                  <a href="repteis.html" alt="Répteis">
                  <img id="komodo" src="static/css/imagens/komodo.png" alt="komodo">
                  <img src="static/css/imagens/repteis.jpg" alt="Répteis">
                  <h1><div class="button">Répteis</div></h1>
                  </a>
                    
                </figure>
              </section>

              <section class="peixes">
                <figure>
                  <a href="peixes.html" alt="Peixes">
                  <img src="static/css/imagens/peixes.jpg" alt="Peixes">
                  <img id="piranha" src="static/css/imagens/piranha.png" alt="piranha">
                  <h1><div class="button">Peixes</div></h1>
                   </a>
                </figure>
              </section>

              <section class="anfibios">
                <figure>
                  <a href="anfibios.html" alt="Anfíbios">
                  <img src="static/css/imagens/anfibios.jpg" alt="Anfíbios">
                  <img id="ra" src="static/css/imagens/ra.png" alt="ra">
                    <h1><div class="button">Anfíbios</div></h1>
                  </a>
                   
                </figure>
              </section>
          

              <section class="invertebrados">
                <figure>
                  <a href="invertebrados.html" alt="Invertebrados">
                    <img src="static/css/imagens/invertebrados.jpg" alt="Invertebrados">
                    <img id="aranha" src="static/css/imagens/aranha.png" alt="ra">
                      <h1 id="inveh1"><div class="button1">Insetos</div></h1>
                    </a>
                </figure>
              </section>
            </section>
        </main>

  {% endblock %}

    

