{% extends 'base.html' %}

{% block pagina %}

  <body class="bodyTiago">

    
    <main class="grid foto">
        <figure>
            <img src="static/css/imagens/papagaio.jpg" alt="papagaio">
        </figure>
    </main>

    <aside class="grid descrição">
        <h3>Papagaio-cabeça-de-falcão</h3>
        <br>
        <p>Deroptyus accipitrinus</p>
        <br><hr><br>
        <p>Classe: Aves</p>
        <p>Ordem: Psittaciformes</p>
        <p>Família: Psittacidae</p>
        <br><hr><br>
        <h3>TAMANHO</h3>
        <br>
        <p>Comprimento: 35cm</p>
        <br>
        <hr>
        <br>
        <h3>PESO</h3>
        <br>
        <p>190-270g</p>
    </aside>

    <aside class="grid vida">
        <section class="habitos">
        <figure>
            <p>Actividade</p>
            <img src="static/css/imagens/ativ_diurna.png" alt="diurna">
            <figcaption>Diurna</figcaption>
        </figure>
        <figure>
            <p>Vida Social</p>
            <img src="static/css/imagens/social_casal.png" alt="familiar">
            <figcaption>Casal e Bando</figcaption>
        </figure>
        <figure>
            <p>Dieta</p>
            <img src="static/css/imagens/dieta_frugivera_omnivora.png" alt="dieta">
            <figcaption>Frugívora ou Granívora</figcaption>
        </figure>
        </section>
        <hr>
        <section class="reprodução">
            <figure>
                <p>Reprodução</p>
                <img src="static/css/imagens/rep_ovipara.png" alt="ovipara">
                <figcaption>Ovípara</figcaption>
            </figure>
            <figure>
                <p>Ovos</p>
                <img src="static/css/imagens/crias.png" alt="crias">
                <figcaption>2-4 ovos</figcaption>
            </figure>
            <figure>
                <p>Incubação</p>
                <img src="static/css/imagens/gestacao.png" alt="gestação">
                <figcaption>28 dias</figcaption>
            </figure>
            <figure>
                <p>No ninho</p>
                <img src="static/css/imagens/maturidade.png" alt="maturidade">
                <figcaption>9 semanas</figcaption>
            </figure>
            
        </section>



    </aside>

    <main class="grid texto">
        
        
        <p>Reconhecem-se duas subespécies, uma a norte da Colômbia ao Brasil a norte do Amazonas, e a sul representada no Jardim Zoológico, no Brasil a sul do Amazonas. As duas subespécies diferem apenas na cor da fronte e coroa, que na do norte é branca.</p>
        <br><hr><br>
        <h3>HÁBITOS</h3>
        <br>
        <p>Pode realizar movimentos dispersivos, mas apenas locais. Alimenta-se principalmente de frutos de várias espécies de palmeiras. As aves desta espécie têm por hábito levantar as penas da nuca parecendo maiores. Acredita-se que este comportamento pode funcionar como defesa.</p>        <br><hr><br>
        <h3>REPRODUÇÃO</h3>
        <br>
        <p>O ninho é feito num oco de uma árvore e a época de nidificação no Brasil é de dezembro a fevereiro. Ambos os progenitores exibem cuidados parentais, apesar de só a fêmea incubar os ovos.</p>
    </main>


    <main class="grid foto2">
        <figure>
            <img src="static/css/imagens/aguia-rabalva.jpg" alt="aguia">
        </figure>
    </main>

    <aside class="grid descrição2">
        <h3>Águia-Rabalva</h3>
        <br>
        <p>Haliaeetus albicilla</p>
        <br><hr><br>
        <p>Classe: Aves</p>
        <p>Ordem: Falconiformes</p>
        <p>Família: Accipitridae</p>
        <br><hr><br>
        <h3>TAMANHO</h3>
        <br>
        <p>omprimento: 69-92cm</p>
        <br>
        <hr>
        <br>
        <h3>PESO</h3>
        <br>
        <p>4-5,5kg</p>
    </aside>

    <aside class="grid vida2">
        <section class="habitos">
        <figure>
            <p>Actividade</p>
            <img src="static/css/imagens/ativ_diurna.png" alt="diurna">
            <figcaption>Diurna</figcaption>
        </figure>
        <figure>
            <p>Vida Social</p>
            <img src="static/css/imagens/social_familiar.png" alt="familiar">
            <figcaption>Casal e Solitária</figcaption>
        </figure>
        <figure>
            <p>Dieta</p>
            <img src="static/css/imagens/dieta_omnivora.png" alt="dieta">
            <figcaption>Omnívora</figcaption>
        </figure>
        </section>
        <hr>
        <section class="reprodução">
            <figure>
                <p>Reprodução</p>
                <img src="static/css/imagens/rep_ovipara.png" alt="ovipara">
                <figcaption>Ovípara</figcaption>
            </figure>
            <figure>
                <p>Ovos</p>
                <img src="static/css/imagens/crias.png" alt="crias">
                <figcaption>1-3 ovos</figcaption>
            </figure>
            <figure>
                <p>Gestação</p>
                <img src="static/css/imagens/gestacao.png" alt="gestação">
                <figcaption>34-46 dias</figcaption>
            </figure>
            <figure>
                <p>Ninho</p>
                <img src="static/css/imagens/maturidade.png" alt="maturidade">
                <figcaption>70-90 dias</figcaption>
            </figure>
            
        </section>
    </aside>

    <main class="grid texto2">        
        
        <p>É a maior águia na Europa. Os adultos apresentam bico e patas amarelas com longas garras negras. A plumagem é castanha e acinzentada, à exceção da cauda branca distintiva da espécie. Os juvenis são mais escuros e a cauda só se torna branca perto dos oito anos de idade.</p>
        <br><hr><br>
        <h3>HÁBITOS</h3>
        <br>
        <p>Caça tanto na água como em terra, o peixe, as aves e, com menor frequência, os mamíferos de que se alimenta. As populações do norte e leste são migratórias, e as restantes populações são residentes. Os juvenis dispersam mais e são mais gregários do qu e os adultos.</p>
        <br><hr><br>
        <h3>REPRODUÇÃO</h3>
        <br>
        <p>É uma espécie monogâmica. Os casais constroem dois ou três ninhos que mantêm de ano para ano. A incubação e os cuidados com as crias estão a cargo de ambos os elementos do casal. Atinge a maturidade sexual com cinco a seis anos de idade.</p>
    </main>

{% endblock %}


    
   