{% extends 'base.html' %}

{% block pagina %}

  <body class="bodyTiago">
    
    <main class="grid foto">
        <figure>
            <img src="static/css/imagens/tarantula-rosa.jpg" alt="tarantula">
        </figure>
    </main>

    <aside class="grid descrição">
        <h3>Tarântula-rosa</h3>
        <br>
        <p>Grammostola rosea</p>
        <br><hr><br>
        <p>Classe: Invertebrados</p>
        <p>Ordem: Araneae</p>
        <p>Família: Theraphosidae</p>
        <br><hr><br>
        <h3>TAMANHO</h3>
        <br>
        <p>Comprimento: 10-14cm</p>
        <br>
        <hr>
        <br>
        <h3>PESO</h3>
        <br>
        <p>Até 50g</p>
    </aside>

    <aside class="grid vida">
        <section class="habitos">
        <figure>
            <p>Actividade</p>
            <img src="static/css/imagens/ativ_noturna.png" alt="noturna">
            <figcaption>Noturna</figcaption>
        </figure>
        <figure>
            <p>Vida Social</p>
            <img src="static/css/imagens/social_gregaria.png" alt="gregária">
            <figcaption>Gregária</figcaption>
        </figure>
        <figure>
            <p>Dieta</p>
            <img src="static/css/imagens/dieta_carnivora.png" alt="dieta">
            <figcaption>Carnívora</figcaption>
        </figure>
        </section>
        <hr>
        <section class="reprodução">
            <figure>
                <p>Reprodução</p>
                <img src="static/css/imagens/rep_ovipara.png" alt="ovipara">
                <figcaption>Ovípara</figcaption>
            </figure>
            <figure>
                <p>Ovos</p>
                <img src="static/css/imagens/crias.png" alt="crias">
                <figcaption>100-250 ovos</figcaption>
            </figure>
            <figure>
                <p>Incubação</p>
                <img src="static/css/imagens/gestacao.png" alt="gestação">
                <figcaption>3-4 meses</figcaption>
            </figure>
            <figure>
                <p>M. Sexual</p>
                <img src="static/css/imagens/maturidade.png" alt="maturidade">
                <figcaption>3-6 anos</figcaption>
            </figure>
            
        </section>



    </aside>

    <main class="grid texto">
        
        <p>Espécie grande e imponente de temperamento calmo. Corpo coberto por denso manto de pelos de coloração variável do castanho ao rosa. Abdómen de cor rosa. Possuem pelos urticantes, no abdómen, que soltam em caso de ameaça.</p>
        <br><hr><br>
        <h3>HÁBITOS</h3>
        <br>
        <p> São artrópodes de hábitos terrestres e nómadas.  Abrigam-se em buracos no solo dos quais se apropriam ou são por eles escavados. Estes buracos são revestidos por uma fina camada de seda. Caçam por emboscada, usando o seu veneno (não letal para o Homem) para paralisarem as presas. As tarântulas não são capazes de digerir o alimento pelo que injetam os sucos digestivos na presa e sugam, posteriormente, os produtos da digestão. </p>
        <br><hr><br>
        <h3>REPRODUÇÃO</h3>
        <br>
        <p> Durante o acasalamento, os machos ficam particularmente vulneráveis à predação por parte das fêmeas. Por essa razão os machos apresentam um esporão no primeiro par de patas tem, cuja função é manter afastadas as quelíceras das fêmeas. Os machos morrem depois da cópula, já as fêmeas podem atingir 15 a 20 anos. </p>
    </main>

{% endblock %}