{% extends 'base.html' %}

{% block pagina %}

  <body class="bodyTiago">
    
    <main class="grid foto">
        <figure>
            <img src="static/css/imagens/piranha-vermelha.jpg" alt="piranha">
        </figure>
    </main>

    <aside class="grid descrição">
        <h3>Piranha-vermelha</h3>
        <br>
        <p>Pygocentrus nattereri</p>
        <br><hr><br>
        <p>Classe: Peixes</p>
        <p>Ordem: Characiformes</p>
        <p>Família: Characidae</p>
        <br><hr><br>
        <h3>TAMANHO</h3>
        <br>
        <p>Comprimento: Até 33cm</p>
        <br>
        <hr>
        <br>
        <h3>PESO</h3>
        <br>
        <p>3-5kg</p>
    </aside>

    <aside class="grid vida">
        <section class="habitos">
        <figure>
            <p>Actividade</p>
            <img src="static/css/imagens/ativ_diurna.png" alt="diurna">
            <figcaption>Diurna</figcaption>
        </figure>
        <figure>
            <p>Vida Social</p>
            <img src="static/css/imagens/social_gregaria.png" alt="gregária">
            <figcaption>Gregária</figcaption>
        </figure>
        <figure>
            <p>Dieta</p>
            <img src="static/css/imagens/dieta_carnivora.png" alt="dieta">
            <figcaption>Carnívora</figcaption>
        </figure>
        </section>
        <hr>
        <section class="reprodução">
            <figure>
                <p>Reprodução</p>
                <img src="static/css/imagens/rep_ovipara.png" alt="ovipara">
                <figcaption>Ovípara</figcaption>
            </figure>
            <figure>
                <p>Ovos</p>
                <img src="static/css/imagens/crias.png" alt="crias">
                <figcaption>5000 ovos</figcaption>
            </figure>
            <figure>
                <p>Incubação</p>
                <img src="static/css/imagens/gestacao.png" alt="gestação">
                <figcaption>9-10 dias</figcaption>
            </figure>
            <figure>
                <p>M. Sexual</p>
                <img src="static/css/imagens/maturidade.png" alt="maturidade">
                <figcaption>Sem dados</figcaption>
            </figure>
            
        </section>



    </aside>

    <main class="grid texto">
        
        <p>A coloração varia com fatores como a localização geográfica, a população e a idade. Os adultos são geralmente cinzentos com a zona ventral e as barbatanas peitorais e pélvicas de cor vermelha-alaranjada. Conhecida pelo seu apetite voraz e dentes fortes afiados, os ataques a animais terrestres são extremamente raros.</p>
        <br><hr><br>
        <h3>HÁBITOS</h3>
        <br>
        <p>Espécie pelágica e muito territorial. Vive em cardumes de 20 a 30 animais. Os indivíduos mais pequenos alimentam-se durante o dia os maiores ao fim da tarde. Caça em grupo por emboscada, ou por perseguição. Alimenta-se principalmente de peixe e invertebrados aquáticos.</p>
        <br><hr><br>
        <h3>REPRODUÇÃO</h3>
        <br>
        <p>Realizam um ritual de acasalamento que consiste na natação em círculo que termina no contacto ventral entre macho e fêmea. Os ovos são depositados em ninhos nos sedimentos e na vegetação, com até 15 cm de diâmetro e 4 a 5 cm de profundidade. O macho é muito agressivo na defesa do ninho.</p>
    </main>

 {% endblock %}