{% extends 'base.html' %}

{% block pagina %}

  <body class="bodyTiago">
    
    <main class="grid foto">
        <figure>
            <img src="static/css/imagens/dragao-de-komodo.jpg" alt="komodo">
        </figure>
    </main>

    <aside class="grid descrição">
        <h3>Dragão-de-komodo</h3>
        <br>
        <p>Varanus komodoensis</p>
        <br><hr><br>
        <p>Classe: Répteis</p>
        <p>Ordem: Squamata</p>
        <p>Família: Varanidae</p>
        <br><hr><br>
        <h3>TAMANHO</h3>
        <br>
        <p>Comprimento: Até 3m</p>
        <br>
        <hr>
        <br>
        <h3>PESO</h3>
        <br>
        <p>100-150kg</p>
    </aside>

    <aside class="grid vida">
        <section class="habitos">
        <figure>
            <p>Actividade</p>
            <img src="static/css/imagens/ativ_diurna.png" alt="diurna">
            <figcaption>Diurna</figcaption>
        </figure>
        <figure>
            <p>Vida Social</p>
            <img src="static/css/imagens/social_solitario.png" alt="familiar">
            <figcaption>Solitária</figcaption>
        </figure>
        <figure>
            <p>Dieta</p>
            <img src="static/css/imagens/dieta_carnivora.png" alt="dieta">
            <figcaption>Carnívora</figcaption>
        </figure>
        </section>
        <hr>
        <section class="reprodução">
            <figure>
                <p>Reprodução</p>
                <img src="static/css/imagens/rep_ovipara.png" alt="ovipara">
                <figcaption>Ovípara</figcaption>
            </figure>
            <figure>
                <p>Ovos</p>
                <img src="static/css/imagens/crias.png" alt="crias">
                <figcaption>24-26 ovos</figcaption>
            </figure>
            <figure>
                <p>Incubação</p>
                <img src="static/css/imagens/gestacao.png" alt="gestação">
                <figcaption>8-9 meses</figcaption>
            </figure>
            <figure>
                <p>M. Sexual</p>
                <img src="static/css/imagens/maturidade.png" alt="maturidade">
                <figcaption>3-5 anos</figcaption>
            </figure>
            
        </section>



    </aside>

    <main class="grid texto">
        
        <p>É o maior sáurio vivo. Tem membros e cauda excecionalmente robustos e fortes. Os juvenis apresentam coloração verde com bandas em amarelo e preto, enquanto nos adultos a coloração é uniforme. </p>
        <br><hr><br>
        <h3>HÁBITOS</h3>
        <br>
        <p>Esta espécie caça por emboscada e as suas presas maiores morrem na sequência de hemorragias provocadas pelas fortes dentadas ou pela infeção dos ferimentos infligidos, já que a saliva do Dragão-de-komodo é constituída por um “caldo bacteriano” bastante tóxico.</p>
        <br><hr><br>
        <h3>REPRODUÇÃO</h3>
        <br>
        <p>Na época de acasalamento, os machos envolvem-se em lutas ferozes na disputa pelo acesso à fêmea. Os juvenis são essencialmente arbóreos, tornando-se terrestres a partir de cerca dos 8 meses de idade. O ninho é um buraco escavado no solo pela fêmea.</p>
    </main>


    <main class="grid foto2">
        <figure>
            <img src="static/css/imagens/tartaruga-do-egito.jpg" alt="tartaruga">
        </figure>
    </main>

    <aside class="grid descrição2">
        <h3>Tartaruga-do-egipto</h3>
        <br>
        <p>Testudo kleinmanni</p>
        <br><hr><br>
        <p>Classe: Répteis</p>
        <p>Ordem: Chelonia</p>
        <p>Família: Testudinidae</p>
        <br><hr><br>
        <h3>TAMANHO</h3>
        <br>
        <p>Comprimento: 8-12cm</p>
        <br>
        <hr>
        <br>
        <h3>PESO</h3>
        <br>
        <p>100-400g</p>
    </aside>

    <aside class="grid vida2">
        <section class="habitos">
        <figure>
            <p>Actividade</p>
            <img src="static/css/imagens/ativ_crepuscular.png" alt="crepuscular">
            <figcaption>Crepuscular</figcaption>
        </figure>
        <figure>
            <p>Vida Social</p>
            <img src="static/css/imagens/social_solitario.png" alt="solitario">
            <figcaption>Solitária</figcaption>
        </figure>
        <figure>
            <p>Dieta</p>
            <img src="static/css/imagens/dieta_herbivora.png" alt="dieta">
            <figcaption>Herbívora</figcaption>
        </figure>
        </section>
        <hr>
        <section class="reprodução">
            <figure>
                <p>Reprodução</p>
                <img src="static/css/imagens/rep_ovipara.png" alt="ovipara">
                <figcaption>Ovípara</figcaption>
            </figure>
            <figure>
                <p>Ovos</p>
                <img src="static/css/imagens/crias.png" alt="crias">
                <figcaption>1-7 ovos</figcaption>
            </figure>
            <figure>
                <p>Incubação</p>
                <img src="static/css/imagens/gestacao.png" alt="gestação">
                <figcaption>70-119 dias</figcaption>
            </figure>
            <figure>
                <p>M. Sexual</p>
                <img src="static/css/imagens/maturidade.png" alt="maturidade">
                <figcaption>4-6 anos</figcaption>
            </figure>
            
        </section>
    </aside>

    <main class="grid texto2">        
        
        <p>A cor da carapaça pode variar entre o marfim e o amarelo pálido. Cada escama é marginada por uma cor escura, castanho ou preto, que desvanece com a idade. O plastrão é amarelado, geralmente com marcações escuras em forma de “V”. O macho é mais pequeno do que a fêmea, sendo mais alongado e com a cauda mais longa.</p>
        <br><hr><br>
        <h3>HÁBITOS</h3>
        <br>
        <p>É uma espécie terrestre. Usa antigas tocas de roedores ou escava abrigos para se refugiar das altas temperaturas do deserto, ou durante o período de estivação. Obtém quase toda a água de que necessita através da dieta.</p>
        <br><hr><br>
        <h3>REPRODUÇÃO</h3>
        <br>
        <p>No acasalamento, o macho emite uma vocalização alta. Cada fêmea pode fazer duas a três posturas por época reprodutiva, com 20 a 40 dias de intervalo. O ninho é escavado no solo arenoso.</p>
    </main>

{% endblock %}