*{
    margin: 0;
  margin-bottom: 0!important;
  max-width:100%; 
}

div.table-container {
    display: inline-block;
    text-align-last: center;
    font-size: 1.4vw;
    margin: 2% auto 10% 15%;
    align-items: center;
    width: 60%;
    font-family: Calibri;

}


#ul_breeds{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  width: 200px;
  background-color: #f5f7f9;
  position: absolute;
}
#ul_breeds li{
  padding: 10px;
}
#ul_breeds li:hover{
  padding: 10px;
  background-color: #d5d7d9;
}



/*
  part-3 styles
*/
#img_container{
  padding-left: 200px;
  width: 80%;
  min-width: 100px;
  text-align: center;
}

.gridItem{
  width: 200px;
  height: 200px;
  margin-left: 1%;
  margin-top: 1%;
  margin-right: 0%;
  display: inline-block;
  object-fit: cover;
  transition: transform 0.3s;
    z-index: 1;
}
.gridItem:hover{
  transform: scale(2, 2);
  object-fit: contain;
}




div.table-container > table{
  color: black;
  margin-left: 30%;
  background-color: rgb(92,99,83);
}

th.orderable > a{
  color: white;
}

tr.even > td:nth-child(1), tr.even > td:nth-child(2), tr.even > td:nth-child(3), tr.odd > td:nth-child(2), tr.odd > td:nth-child(1), tr.odd > td:nth-child(3){
  color: white;
  padding:3.5px 40px 3.5px 60px;
  border-top: 2px solid rgb(54,54,54);

}


ul.pagination{
    margin-left: 73%;

}

ul.pagination > li:nth-child(1), ul.pagination > li:nth-child(2), ul.pagination > li:nth-child(3), ul.pagination > li:nth-child(4), ul.pagination > li:nth-child(5) {
    width: 20%;
  color: white;


}

ul.pagination > li:nth-child(1) > a, ul.pagination > li:nth-child(2) > a, ul.pagination > li:nth-child(3) > a, ul.pagination > li:nth-child(4) > a, ul.pagination > li:nth-child(5) > a{
  color: white;


}

.pergunta_quest {
margin-left: 24%;
    color: white;
    padding: 1vw 0 0 1vw;


}

.main_contato{
  background-image: url("imagens/banner-new.36d791c64965.jpeg");
    height: 100%;
    min-height: 750px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    display: grid;
    grid-template-columns: 27.5% 45% 27.5%;
}


.main_contato1{
  background-image: url("imagens/banner-new.36d791c64965.jpeg");
    height: 100%;
    min-height: 600px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    display: grid;
    grid-template-columns: 27.5% 45% 27.5%;
}




.formulario-cont{
    margin-top: 2vw;
    color: blue;
}

.formulario-cont > p{
    margin-top: 2vw;
    color: white;
}

.formulario-cont > p >input{
    margin-bottom: 1vw;
}


.formulario-cont > p:nth-child(5) > input{
    margin-left: 8vw;
    position: relative;
    top: -1.2vw;
}

.formulario-cont > p:nth-child(6) > input,.formulario-cont > p:nth-child(8) > input{
    margin-left: 5.5vw;
    position: relative;
    top: -1.2vw;
}

.formulario-cont > p:nth-child(8) > input{
    width: 100%;
    height: 3vw;
}




.section-contatos{
    grid-column: 2;
    border-right: 2px solid black;
    border-left: 2px solid black;
    background-image: url("imagens/banner-fundo.a62acc351f7d.jpg");
    background-position: 20%;
    display: grid;
    grid-template-columns: 33% 33% auto;
    grid-template-rows: 2vw auto auto auto 2vw;

}

.contato-nome{
    color: white;
    font-size: 1.2vw;
    grid-column: 1/3;
    grid-row: 2;
    margin-bottom: 1vw;
    margin-left: 10vw;
}

.leopardo{

}














.form-signup{
  margin-top: -72px;
margin-left: 13%;
color: white;
}


.field_quest{
      border: 3px solid white;
    width: 50%;
    margin-left: 25%;
  grid-row: 2;
}

.resposta_quest{
  background-color: rgb(92,99,83);
  font-size: 1.3vw;
    margin-left: 30%;
    color: black;
    margin-top: 5px;
    border: 1px solid black;
    width: 15vw;
    margin-bottom: 40px;
}

.enviar_quest{
    color: white;
    position: relative;
    top: 37px;
    left: -236px;
    width: 9vw;
    height: 3vw;
    background-color: black;
}
.main_questionario{
  background-image: url("imagens/fasddfgasr1.8cd1798097b7.jpeg");
   min-height: 500px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  display: grid;
  grid-template-rows: 3vw auto 3vw ;
}


.main_questionario1{
  background-image: url("imagens/fasddfgasr1.8cd1798097b7.jpeg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 4vw auto 8vw auto 4vw;
    grid-template-columns: auto auto auto auto auto ;
}

.grid-resultados{
  grid-row: 4;
  grid-column: 3 /4;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.resultados1{
  grid-column: 1;
  grid-row: 1;
  color: white;
  font-size: 5vw;
}

.resultados2{
  grid-column: 2;
  grid-row: 1;
  color: white;
  font-size: 5vw;
}

.gridzz{
  grid-column: 2/5;
  grid-row: 2;
  display: grid;
  grid-template-columns: 66% auto;
}

.section1{
    grid-column: 1;
}

.pergunta_quest1{
color: white;
  grid-column: 1;
  margin-left: 20%;
}


.vuvu{
color: black;
grid-column: 2;
margin-top: 1vw;
margin-bottom: 1vw;
  margin-left: 20%;

}

.section2{
    grid-column: 2;

}


.xsymbol{
  margin-top: 0.7vw;
margin-bottom: 0.7vw;
    margin-left: 28%;


}



.vivi{
color: white;
    margin-left: 20%;



}



.artigo{
  width: 100%;
}


.pokke{
  background-image: url("imagens/fundinho.1b52b6a48590.jpg");
   min-height: 500px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}


#iconhome{
  font-size: 1.5vw;
  position: relative;
  left: -8px;
  top: 5px;
  color: wheat;
}

#iconhome1{
  font-size: 1vw;
  position: relative;
  left: -7px;
  top: 3px;
  color: wheat;
}



.main-comentario{
  display: grid;
  grid-template-columns: 10% 10% 30% 30% 10% 10%;
  grid-template-rows: 1vw auto 2vw ;
    background-image: url("imagens/banner-1234.15177dfb44a9.jpeg");
   background-size: cover;
}


.field_coment{
  grid-column: 3/5;
  grid-row: 2;
    border: 2px solid black;
    height: 105%;


}

.section-comment{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 10fr;


}

.section-comment>p:nth-child(2n+1){
    color: white;
    margin-top: 1vw;
}

.section-comment>p:nth-child(2n+2){
    color: white;
    margin-top: 1vw;
    margin-left: 2vw;

}

.section-comment>p:nth-child(12)>label{
    color: white;
}



















/*TIAGO*/



.bodyTiago {
  display: grid;
  grid-template-columns: 0.4fr 0.3fr 0.3fr;
/*   grid-template-rows: auto 25px auto 25px auto 25px auto 25px auto 25px auto; */
  grid-column-gap: 10px;
 
  background-image: url("imagens/fundo.557a17021636.jpg");
   min-height: 500px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}


.headerTiago {
  grid-column: 1 / 6;
  grid-row: 1 / 3;
  width: 100%;
  height: 300px;
  background-image: url("imagens/principal.b94568eed0ce.jpg");
  background-size: cover;
  background-position: 100% 30%;
}



.grid {
  background-image: url("imagens/fundo.557a17021636.jpg");
  color: #fff;
}



.main {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  background-image: url("imagens/fundo.557a17021636.jpg");
   min-height: 500px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
 

h3 {
  text-align: center;
}

.foto {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  background-color: transparent;      
}

.descrição {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  padding: 2vw;
  text-align: center;
  margin:1vw;
  color:white;
  background-color: #a0c263;
     
}

.vida {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  padding: 2vw;
  text-align: center;
  margin:1vw;
  color:white;
}


.texto {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  color: white;
}

.texto2 {
  grid-column: 2 / 4;
  grid-row: 5 / 6;
  padding: 2vw;
  color: white;
}

.foto2 {
  grid-column: 2 / 6;
  grid-row: 4 / 5;
  background-color: transparent;
    
}

.vida2 {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  padding: 2vw;
  text-align: center;
  margin:1vw;
  color: white;
}

.descrição2 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  padding: 2vw;
  text-align: center;
  margin:1vw;
  color: white;
}























/*TIAGO*/











/*Circles*/

.circle
{
  cx:150;
  cy:320;
  r:8;
  stroke: black;
  stroke-width: 3;
  fill: red;

}

.circle1
{
  cx: 1153;
  cy:308;
  r:8;
  stroke: black;
  stroke-width: 3;
  fill: green;

}

.circle2
{
  cx: 830;
  cy:300;
  r:8;
  stroke: black;
  stroke-width: 3;
  fill: blue;

}

.circle3
{
  cx: 1035;
  cy:290;
  r:8;
  stroke: black;
  stroke-width: 3;
  fill: white;

}

.circle4
{
  cx: 125;
  cy:215;
  r:8;
  stroke: black;
  stroke-width: 3;
  fill: purple;

}

/*                                                   */

.circle5
{
  cx: 1100;
  cy:270;
  r:8;
  stroke: black;
  stroke-width: 3;
  fill: black;

}

.circle6{
  cx: 1130;
  cy:150;
  r:8;
  stroke: black;
  stroke-width: 3;
  fill: rgb(145, 41, 41);
}

.circle7{
  cx: 450;
  cy:120;
  r:8;
  stroke: black;
  stroke-width: 3;
  fill: rgb(11, 59, 82);
}

.circle8{
  cx: 850;
  cy:100;
  r:8;
  stroke: black;
  stroke-width: 3;
  fill: rgb(68, 68, 68);
}




/*          */


.footerl{
  text-align: center;
  font-size: 1vw;
  color: white;
}

.footerl1{
  text-align: center;
  font-size: 0.9vw;
  color: wheat;
}

.parallax {
  /* The image used */
  background-image: url("imagens/anaconda.57d71a969743.jpg");
  z-index: -1;


  /* Set a specific height */
  min-height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


header {
  grid-column: 1 / 6;
  width: 100%;
  height: 300px;
  background-image: url("imagens/principal.b94568eed0ce.jpg");
  background-size: cover;
  background-position: 100% 30%;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  padding-top: 15px;
  padding-bottom: 15px;
  top: 228px;
  margin: 0;
  width: 100%;
  align-items:baseline;
  z-index: 1;
  
}


.dp-menu ul {
  list-style-type: none;
  padding: 0;
}



.dp-menu ul li {
  display: inline;
  position: relative;

}

.dp-menu ul li a {
  text-decoration: none;
  display: inline-block;
  white-space: inherit;
  padding: 8px 30px 8px 30px;
  color: #d6dad2;
  background: #5A6351;
    z-index: -1;
}

.dp-menu ul li a:hover {
  color: green;

}

/*sub menu*/
.dp-menu ul ul {
  display: none;
  left: -5px;
  position: absolute;
  width: 100%;
}

.dp-menu ul li:hover ul {
  display: block;
}



.dp-menu ul ul li a {
  display: block;
  z-index: 1;
}

.pedro{
  position: relative;
  left: -5px;
 border: 2px solid rgb(54,54,54) ;
}

.pedro1{
  border: 2px solid rgb(54,54,54) ;

}

.pedro2{
  border: 2px solid rgb(54,54,54) ;
  font-size: 0.8vw;
}

.pedro3{

    border: 2px solid rgb(54,54,54) ;
    margin-left: -9px;
}



.flex-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: max-content;
    border: 1px solid black;
    background-image: url("imagens/back3.f25896f46e80.jpg");
    background-size: cover;
    background-position: 100% 30%;
}

.seca1{
  width: 100%;
  height: 100%;

}

.secao{
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;

}


.letras{
  color: black; 
  margin-left: 5px;
  font-size: 2vmin;
  color: white;
}

.boldd{
  font-weight: bold;
}



#pokedex{

  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  border: 2px solid black;
  color: white;
}

#pokedex td, #pokedex th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  border: 2px solid black;
}

#pokedex tr:nth-child(even){background-color: dimgray;}

#pokedex tr:hover {background-color: #ddd;}


#pokedex th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #5A6351;
  color: white;
}

/*Photo of the day*/
.flex-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 500px;
  background-image: url("imagens/ursos.11165cf9e940.jpg");
  background-size: cover;
  background-position: 100% 50%;
  color: white;
  position: relative;
  margin-top: 0;
  border-top: 2px solid black;  

}


.fotoutil{
  margin-left: 1vw;
  grid-column: 1 / 2;
  grid-row: 5;
}

.titulo{
  grid-column: 1 / 4;
  grid-row: 2;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;

}

.fu{
  
  font-size: 21px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}




/*Fun Facts*/

.flex-container3{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 300px;
  background-image: url("imagens/back2.b766a59e8a62.jpg");
  background-size: cover;
  background-position: 100% 30%;
  border-top: 2px solid black;  

  
}

.noti1{
  transform: rotate(-90deg);
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  
}


.sec9 {
  height: 100%;
  width: 20%;
  border-left: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

}

.sec10 {
  height: 100%;
  width: 20%;
  border-left: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
 
}


.sec11 {
  height: 100%;
  width: 250px;
  border-left: 3px solid black;
  margin-right: 30px;

}


.circtigre{
  margin-left: 15px;
  height: 20%;
  width: 30%;
  border-radius: 50%;


}

.ds{
  margin-left: 25px; 
  font-size: 1vw; 
  color: white; 
  text-align: center;  
  font-weight: bold;
}



/*Noticias*/
.flex-container4{
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 100%;
  height: 400px;
  background-image: url("imagens/back1.f29f578e99df.jpg");
  background-size: cover;
  background-position: 100% 30%;
  border-top: 2px solid black;  
}



.sec1 {
  height: 130px;
  width: 300px;
  border: 3px solid black;
  background-color: #E0DFDD;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


main section section a p{
  position: relative;
  font-size: 1vw;
  font-family: "Open Sans"; 
  font-variant: normal; 
  line-height: 15px;
  text-align: center;
  color: peru;
  font-weight: bold;

}


/*Primeira noticia*/
.noti{
  transform: rotate(-90deg);
  margin-top: auto;
  margin-bottom: auto;
  color: white;
 
}

.este{
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  font-size: 1.3vw;
}

.pic{
  height: 100%;
  margin-right: -26vw;
 
}

.sec2{
  margin-left: 10px;
  height: 130px;
  width: 300px;
  border: 3px solid black;
  background-color: #E0DFDD;
  display: grid;
  grid-template-columns: 1fr 1fr;

  
}
  
.sec3 {
  margin-right: 10px;
  height: 130px;
  width: 300px;
  border: 3px solid black;
  background-color: #E0DFDD;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main section section a{
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-left: -13vw;

}






/*Video*/


.sesson{
  width: 100%; 
  height: 500px; 
  background-color: transparent;
  display: block;
}

.caixatexto{
  transform: rotate(-90deg);
  margin-bottom: auto;
  color: white;
  position: absolute;
  top:2100px;
  margin-left: 60px;
  margin-top: 100px;
  font-size: 1.5vw;
}





.iii{
  margin-left: auto;
    margin-right: auto;
    color: white;
    height: 50px;
    width: 50px;
    z-index: 1;
    position: relative;
    top: -250px;
    left: 45%;


}




/*Mapa*/

.flex-container5{
  display: grid;
  grid-column: 1fr 1fr 1fr;
  grid-template-rows: 5fr 5fr;
  width: 100%;
  height: 850px;
  
}

.mapa{
  grid-row: 1;
  grid-column: 1 / 4;
  border: 1px solid black;
  background-image: url("imagens/mapa.5544dabd5d82.jpg");
  background-size: 100% 110%;
  background-position: 100% 30%;
}

.fundo {
  grid-row: 2;
  grid-column: 1 / 4;
  background: url("imagens/back4.80e3f8e6f3c6.jpg") no-repeat;
  background-size: 100% 100%;
}

.mudar{
  display: block; 
  margin-top: 2.5%;
  height: 320px;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid black;

}


.flex-container7{
  width: 100%;
  height: 400px;
  background: url("imagens/back7.6956cfbe9e4d.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 80%;
  border-top: 2px solid black;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
}

.centrado{
grid-column: 2/3;
width:300px;
height:300px;
border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
border: 3px solid black;
background-color: transparent;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
}

.worldcloud{
  width:100%;
  height:100%;
  z-index: 1;
}
/*footer*/

.flex-container6 {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  height: 150px;
  margin: 0!important;
  background-color: black;
  grid-column: 1/6;

}

.sec4{
  height: 100%;
  width: 15%;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-content: center;



}

.sec5{
  height: 100%;
  width: 20%;
  display: grid;
  align-items: center;
}

.sec6{
  height: 100%;
  width: 20%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.sec7{
  height: 100%;
  width: 20%;
  display: grid;
  align-items: center;
  justify-content: center;
}


.sec8{
  display: inline-flex;
  justify-content: space-around;

}

a{
  text-decoration: none;
}


.imgaside{
  height: 120px; width: 140px;
}


.squizz{
  height: max-content;
  width: 100%;
  background: url("imagens/back5.f2a2ba10beeb.jpg") no-repeat;
    background-size: cover;
    background-position: 100% 30%;
    z-index: -1;

  
}


.fieldgrid{
  grid-row-gap: 50px;
  height: 90%;
  width: 89%;
  margin-left: auto;
  margin-right: auto; 
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;
  grid-template-rows: 2fr 3fr 3fr 3fr 1fr;


}

.posicaofield{
  height: 100%;
  width: 100%;
  grid-column: 3/3;
  grid-row: 1;

  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.1fr 0.3fr 0.3fr 0.8fr 0.5fr;
  grid-row-gap: 1vw;
}

.texto1{
  text-align: center; 
  color: grey;
  font-size: x-large;

}

.nome{
  color: white;
  grid-column: 1;
  grid-row: 2;
  margin-top: 5px
}
.pergunta{
  background-color: grey; 
  color: white;
  grid-column: 2 / 5;
  grid-row: 2;
  
}

.apelido{
  color: white;
  grid-column: 1;
  grid-row: 3;
  margin-top: 5px

}
.pergunta1{
  background-color: grey; 
  color: white;
  grid-column: 2 / 6;
  grid-row: 3;
  

}

.genero{
  color: white;
  grid-column: 1 / 1;
  grid-row: 4;
  margin-top: 10px;

}

.masculino{
  font-size: small; 
  grid-column: 2 / 2;
  grid-row: 4;
  color: white;
  margin-top: 10px;

  

}

.bmasculino{
  font-size: small; 
  grid-column: 2 / 2;
  grid-row: 4;
  margin-left: -20px;
  margin-top: 10px;

}

.feminino{
  font-size: small; 
  grid-column: 3 / 3;
  grid-row: 4;
  color: white;
  margin-top: 10px;


}

.bfeminino{
  color: white;
  font-size: small;
  grid-column: 3/3;
  grid-row: 4;
  margin-left: -20px;
  margin-top: 10px;


  
}

.outro{
  font-size: small; 
  grid-column: 4/4;
  grid-row: 4;
  color: white;
  margin-top: 10px;


}

.boutro{
  font-size: small; 
  grid-column: 4/4;
  grid-row: 4;
  margin-left: -20px;
  margin-top: 10px;


}

.email{
  color: white;
    grid-column: 1;
    grid-row: 5;
    margin-top: -18px;
    
}

.pergunta2{
  background-color: grey; 
  color: white;
  grid-column: 2 / 6;
  grid-row: 5;
  height: 20px;
  margin-top: -22px;

}


/*Questionario1*/
.posicaofield1{
  height: 100%;
  width: 100%;
  grid-column: 2/5;
  grid-row: 2;

  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.3fr 0.5fr 0.5fr;
  grid-row-gap: 1vw;
}


.continente{
  color: white;
  grid-column: 1/3;
  grid-row: 2;
  margin-top: 8px;
}

.rcontinente{
  grid-column: 3/4;
  height: 30px;
  grid-row: 2;
  
  margin-left: -60px;
}


.regiao
{
  color: white;
  grid-column: 1/3;
  grid-row: 3;
  margin-top: 5px
}

.escolha{
  height: 88px;
  width: 100%;
  grid-column: 2/3;
  grid-row: 3;
  margin-top: -10px;
  text-align: center;
}


.posicaofield2{

  height: 100%;
  width: 100%;
  grid-column: 2/5;
  grid-row: 3;

  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.3fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-row-gap: 2vw;
}


.terceiro{
  color: white;
  grid-column: 1/5;
  grid-row: 2;
  margin-top: 8px;
}

.rimagem{
  color: white;
  grid-column: 5/5;
  grid-row: 2;
  margin-top: 8px;
}

.quarto{
  color: white;
  grid-column: 1/5;
  grid-row: 3;
  margin-top: 8px;
}

.rquarto{
  color: white;
  width: 100%;
  grid-column: 5/5;
  grid-row: 3;
  margin-top: 8px;
}

.quinto{
  color: white;
  grid-column: 1/4;
  grid-row: 4;
  margin-top: 8px;
}

.jayz{
  color: white;
  grid-column: 4/4;
  grid-row: 4;
  margin-top: 8px;
}

.rjayz{
  color: white;
  grid-column: 4/4;
  grid-row: 4;
  margin-top: 10px;
  margin-left: 60px;
}

.musk{
  color: white;
  grid-column: 5/5;
  grid-row: 4;
  margin-top: 8px;
}

.rmusk{
  color: white;
  grid-column: 5/5;
  grid-row: 4;
  margin-top: 10px;
  margin-left: 45px;
}


.beyonce{
  color: white;
  grid-column: 6/6;
  grid-row: 4;
  margin-top: 8px;

}

.rbeyonce{
  color: white;
  grid-column: 6/6;
  grid-row: 4;
  margin-top: 10px;
  margin-left: 35px;
}

.donald{
  color: white;
  grid-column: 4/5;
  grid-row: 4;
  margin-top: 35px;
  margin-left: 35px;
}

.rdonald{
  color: white;
  grid-column: 4/5;
  grid-row: 4;
  margin-top: 37px;
  margin-left: 150px;
}

.mark{
  color: white;
  grid-column: 5/6;
  grid-row: 4;
  margin-top: 35px;
  margin-left: 35px;
}

.rmark{
  color: white;
  grid-column: 5/6;
  grid-row: 4;
  margin-top: 37px;
  margin-left: 130px;
}

.sexto{
  color: white;
  grid-column: 1/5;
  grid-row: 5;
  margin-top: 8px;
}

.barra1{
  color: white;
  grid-column: 1/3;
  grid-row: 5;
  margin-top: 30px;
}

.mais{
  color: white;
  grid-column: 3/3;
  grid-row: 5;
  margin-top: 30px;
  margin-left: 20px;
}

.input1{
  grid-column: 4/4;
  grid-row: 5;
  margin-top: 30px;
  margin-left: -70px;
}

.igual{
  color: white;
  grid-column: 5/5;
  grid-row: 5;
  margin-top: 30px;
}

.output1{
  color: white;
  grid-column: 5/6;
  grid-row: 5;
  margin-top: 30px;
  margin-left: 20px;
}


.posicaofield3{
  height: 60%;
  width: 100%;
  grid-column: 2/5;
  grid-row: 4;

  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.4fr 0.2fr;
  grid-row-gap: 0.5vw;
}

.setimo{
  color: white;
  grid-column: 1/3;
  grid-row: 1;
  margin-top: 30px;
}

.rsetimo{
  grid-column: 3/3;
  grid-row: 1;
  margin-top: 30px;
  height: 25px;
  margin-left: -100px;

}

.oitava{
  color: white;
  grid-column: 1/3;
  grid-row: 2;
  margin-top: -20px;
}

.roitava{
  grid-column: 3/3;
  grid-row: 2;
  margin-top: -20px;
  height: 25px;
  margin-left: -80px;

}

.submeter
{
  grid-column: 3/3;
  grid-row: 5;
  height: 70px;
  width: 140px;
  margin-left: 100px;
  margin-top: -60px;
}





.natgeo{
height:60px;
width:90px; 
margin-right: 10px; 
background-color: black;
}

.zoolisa{
  height: 60px;
  width: 80px;
  margin-left:10px;
}

.footerl{
  text-align: center;
  font-size: 1vw;
  color: white;
}

.footerl1{
  text-align: center;
  font-size: 0.9vw;
  color: wheat;
}


.aside1{

  grid-column: 1/1;
  grid-row: 2/4;
  

}

.figuranumero2{
  position: sticky;
    top: 0;
}

.aside2{
  grid-column: 5/6;
  grid-row: 2/4;
  font-size: 0.8vw;
  margin-left: 100px;
  color: white;

}





/*sobre.html*/

.sabout{
  height: 100%;
  width: 100%;
  background: url("imagens/back6.dd877b1e2466.jpg") no-repeat;
    background-size: cover;
    background-position: 80% 30%;
    z-index: -1;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
}




.sobresite{
  color: black;
  grid-row: 1;
  grid-column: 1/3;
  font-size: 1.2vw;
  margin-left: 15px;
  margin-top: 10px;
  text-align: justify;
}






#inventario{
  grid-column: 3/5;
    grid-row: 1;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}


#inventario td, #inventario th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  border: 2px solid black;
}

#invetario tr:nth-child(3n -2){color: red;}

#inventario tr:nth-child(even){background-color: #f2f2f2; }

#inventario tr:hover {background-color: #ddd;}


#inventario th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #5A6351;
  color: white;
}

#HTML5{
  grid-column: 1/3;
  grid-row: 2;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
border: 2px solid black;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
}


#HTML5 td, #HTML5 th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  border: 2px solid black;
}

#HTML5 tr:nth-child(even){background-color: #f2f2f2;}

#HTML5 tr:hover {background-color: #ddd;}


#HTML5 th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #5A6351;
  color: white;
}


#CSS{
  grid-column: 3/5;
  grid-row: 2;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
border: 2px solid black;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
}


#CSS td, #CSS th {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
  border: 2px solid black;
}

#CSS tr:nth-child(even){background-color: #f2f2f2;}

#CSS tr:hover {background-color: #ddd;}


#CSS th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #5A6351;
  color: white;
}

#caracteristicas{
  grid-column: 3/5;
    grid-row: 2;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 395px;}


#caracteristicas td, #caracteristicas th {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
  border: 2px solid black;
}

#caracteristicas tr:nth-child(even){background-color: #f2f2f2;}

#caracteristicas tr:hover {background-color: #ddd;}


#caracteristicas th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #5A6351;
  color: white;
}




#Layout{
  grid-column: 1/5;
  grid-row: 3;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr;
  grid-template-rows: auto auto;
  
}

#primeirolayout{
  grid-column: 2;
  grid-row: 1;
  margin-left: 2vw;
  margin-top: 6vw;
}

#segundolayout{
  grid-column: 4;
  grid-row: 1;
  margin-top: 6vw;
}
#terceirolayout{
  grid-column: 2;
  grid-row: 2;
  margin-top: 3vw;
}
#quartolayout{
  grid-column: 4;
  grid-row: 2;
  margin-left: 2vw;
  margin-top: 3vw;
}

.textolayout{
  grid-column: 3;
  grid-row: 1;
  margin-top: 3vw;
}



.mapaweb{
  grid-column: 1/5;
  grid-row: 4;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr;
}

.jjjj{
  grid-column: 2;
}

.webmap{
  margin-top: 20px;
  margin-bottom: 20px;
}

.titulomapa{
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

.oooo {
  grid-column: 4;
  width: 500px;
  height: 500px;
  top: auto;
}

.videosobreweb{
  margin-top: 100px;
  width: 500px;
  height: 300px;
}

.titulovideoweb{
  margin-top: 65px;
  font-size: 1.3vw;
  color: black;
}



@media only screen and (max-width: 768px){
  nav {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
    top: 233px;
    margin: 0;
    width: 100%;
    align-items: baseline;
    z-index: 1;
}


#iconhome {
  font-size: 1.7vw;
  position: relative;
  left: -8px;
  top: 1px;
  color: wheat;
}

.sec1 {
  height: 130px;
  width: 300px;
  border: 3px solid black;
  background-color: #E0DFDD;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 10px;
}

.sec2 {
  margin-left: 10px;
  height: 130px;
  width: 300px;
  border: 3px solid black;
  background-color: #E0DFDD;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 18px;
  margin-left: 10px;
}












  

  .dp-menu ul ul li a {
    display: block;
    z-index: 3;
    width: 56%;
}

  .pedro2{
    border: 2px solid green ;
    font-size: 1.5vw;
  }
  .sesson {
    width: 100%; 
    height: 350px; 
    background-color: transparent;
  }

  .flex-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 99%;
    height: max-content;
    border: 4px solid black;
    background: url("imagens/back3.f25896f46e80.jpg") no-repeat;
    background-size: cover;
    background-position: 100% 30%;
  }

  .caixatexto{
    transform: rotate(-90deg);
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  position: absolute;
  top:2200px;
  margin-left: -20px;
  margin-top: 100px;
  font-size: 3vw;
  }


  .este{
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-size: 2vw;
  }

  .noti{
  font-size: 3vw;
  }

  .noti1{
    margin-left: -40px;
    font-size: 3vw;

  }

  .circtigre{
    margin-left: 15px;
  height: 30%;
  width: 40%;
  border-radius: 50%;
  }

  .ds{
    font-size: 2vw;
  }


    .parallax {
      /* The image used */
      background-image: url("imagens/anaconda.57d71a969743.jpg");
      z-index: -1;

    
      /* Set a specific height */
      min-height: 100%;
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }


    .footerl{
      text-align: center;
      font-size: 2vw;
      color: white;
    }
    
    .footerl1{
      text-align: center;
      font-size: 1.9vw;
      color: wheat;
    }




    /*Circles*/

.circle
{
  cx:80;
  cy:320;
  r:8;
  stroke: black;
  stroke-width: 3;
  fill: red;

}

.circle1
{
  cx: 612;
  cy:308;
  r:8;
  stroke: black;
  stroke-width: 3;
  fill: green;

}

.circle2
{
  cx: 435;
  cy:300;
  r:8;
  stroke: black;
  stroke-width: 3;
  fill: blue;

}

.circle3
{
  cx: 550;
  cy:290;
  r:8;
  stroke: black;
  stroke-width: 3;
  fill: white;

}

.circle4
{
  cx: 65;
  cy:215;
  r:8;
  stroke: black;
  stroke-width: 3;
  fill: purple;

}


.circle5
{
  cx: 594;
  cy:270;
  r:8;
  stroke: black;
  stroke-width: 3;
  fill: black;

}

.circle6{
  cx: 606;
  cy: 150;
  r:8;
  stroke: black;
  stroke-width: 3;
  fill: rgb(145, 41, 41);
}

.circle7{
  cx: 240;
  cy: 120;
  r:8;
  stroke: black;
  stroke-width: 3;
  fill: rgb(11, 59, 82);
}

.circle8{
  cx: 456;
  cy: 104;
  r:8;
  stroke: black;
  stroke-width: 3;
  fill: rgb(68, 68, 68);
}


.squizz{
  width: 100%;
  background: url("imagens/back5.f2a2ba10beeb.jpg") no-repeat;
    background-size: cover;
    background-position: 100% 30%;
    z-index: -1;

  
}

.posicaofield {
  height: 100%;
  width: 300px;}


.continente{
color: white;
grid-column: 1/5;
grid-row: 2;
margin-top: 8px;
}

.rcontinente{
grid-column: 5/5;
height: 30px;
grid-row: 2;

margin-left: -60px;
}


.regiao
{
color: white;
grid-column: 1/4;
grid-row: 3;
margin-top: 5px
}

.escolha{
height: 88px;
width: 150px;
grid-column: 4/4;
grid-row: 3;
margin-top: -10px;
text-align: center;
}

.imgaside{
margin-left: -20px;
height: 12vw;
width: 12vw;
}


.aside2{
display: none;
}


.posicaofield2{

grid-row-gap: 3vw;
}

.quinto{
grid-column: 1/5;
}

.jayz {
color: white;
grid-column: 5/5;
grid-row: 4;
margin-top: 8px;
}

.rjayz{

  color: white;
  grid-column: 5/5;
  grid-row: 4;
  margin-top: 8px;
}
.musk {
color: white;
grid-column: 6/6;
grid-row: 4;
margin-top: 8px;
}
.rmusk{
color: white;
grid-column: 6/6;
grid-row: 4;
margin-top: 10px;
margin-left: 45px;
}





.beyonce{
color: white;
grid-column: 5/5;
grid-row: 4;
margin-top: 35px;

}

.rbeyonce{
color: white;
grid-column: 5/5;
grid-row: 4;
margin-top: 35px;
margin-left: 40px;
}



.donald{
color: white;
grid-column: 5/7;
grid-row: 4;
margin-top: 35px;
margin-left: 90px;
}

.rdonald{
color: white;
grid-column: 7/7;
grid-row: 4;
margin-top: 35px;
margin-left: -10px;
}

.mark{
color: white;
grid-column: 5/5;
grid-row: 4;
margin-top: 70px;
margin-left: 35px;
}

.rmark{
color: white;
grid-column: 5/5;
grid-row: 4;
margin-top: 70px;
margin-left: 130px;
}

.input1 {
grid-column: 4/4;
grid-row: 5;
margin-top: 30px;
margin-left: 9px;
}

.posicaofield3 {
height: 60%;
width: 100%;
grid-column: 2/5;
grid-row: 4;
display: grid;
grid-template-columns: 0.5fr 0.5fr 0.5fr;
grid-template-rows: 0.5fr 1fr;
}

.rsetimo {
grid-column: 4/4;
grid-row: 1;
margin-top: 30px;
height: 25px;
margin-left: -100px;
}
.oitava {
color: white;
grid-column: 1/4;
grid-row: 2;
margin-top: -20px;
}

.roitava {
grid-column: 2/3;
grid-row: 2;
margin-top: 6px;
height: 25px;
margin-left: -46px;
}
.sobresite {
  color: black;
  grid-row: 1;
  grid-column: 1/3;
  font-size: 2vw;
  margin-left: 15px;
  margin-top: 10px;
  text-align: justify;
}

#caracteristicas {
  grid-column: 3/5;
  grid-row: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6vw;
  border-collapse: collapse;
  width: 80%;
  border: 2px solid black;
  margin-top: 457px;
  margin-left: 0;
}



.mapaweb{
  grid-column: 1/5;
  grid-row: 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;}

.jjjj{
  grid-column: 1/3;
  margin-left: 30px;
}

.oooo
{
  grid-column: 3/5;
  margin-left: 80px;
}

.titulovideoweb{
  margin-top: 70px;
  font-size: 2vw;
}

.videosobreweb{
  margin-top: 50px;
  width: 300px;
  height: 300px;
}









   
}






@media only screen and (max-width: 600px){

  *{
    margin: 0;
    max-width:100%;
      margin-bottom: 0!important;
  }

    .section-comment>p:nth-child(2n+2){
    color: white;
    margin-top: 1vw;
    margin-left: -17vw;

}
  
  header {
    width: 100%;
    height: 300px;
    background-image: url("imagens/principal.b94568eed0ce.jpg");
    background-size: cover;
    background-position: 100% 30%;
  }
  
  nav {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
    top: 245px;
    margin: 0; 
    width: 100%;
    align-items:baseline;
    z-index: 1;
    
  }
  .dp-menu ul ul li a {
    display: block;
    z-index: 1;
    width: 60%;
}

  
#pokedex{

  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  height: 80%;
  font-size: 3vw;
  border: 2px solid black;
  color: white;
}

#pokedex td, #pokedex th {
    padding: 5px 1px;
    text-align: center;
  border: 1px solid black;
}

#pokedex tr:nth-child(even){background-color: dimgray;}

#pokedex tr:hover {background-color: #ddd;}


#pokedex th {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #5A6351;
  color: white;
}

.mudar{
  display: block; 
  margin-top: 2.5%;
  height: 200px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid black;

}

.flex-container6 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  margin: 0!important;
  border: 1px solid black;
  background-color: black;
  font-size: 2vw;
}

.fotoutil{
  margin-left: 1vw;
  grid-column: 1 / 3;
  grid-row: 5;
  font-size: 3vw;
}

.titulo{
  grid-column: 1 / 4;
  grid-row: 1;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  margin-top: 24px;
}

.flex-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 260px;
  background-size: cover;
  background-position: 46%;
  color: white;
  position: relative;
  margin-top: 0;
  border-top: 2px solid black;  

}

.primeiro{
  font-size: 5vw;
  margin-top: 10px;
}

.letras{
  font-size: 3vw;
}


.dp-menu ul li a {
  text-decoration: none;
  display: inline-block;
  white-space: inherit;
  padding: 4px 15px 4px 15px;
  color: #d6dad2;
  background: #5A6351;
}

.pedro{
  position: relative;
  font-size: 3vw;
  left: -5px;
 border: 2px solid green ;
}

.pedro1{
  border: 2px solid green ;
  font-size: 3vw;

}

.pedro2{
  border: 2px solid green ;
  font-size: 2vw;
}
.pedro3{

  border: 2px solid green ;
  margin-left: -9px;
  font-size: 3vw;
}





.sec9 {
  height: 100%;
  width: 20%;
  border-left: 3px solid black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

}


.circtigre{
  margin-left: 27px;  height: 40%;
  width: 60%;
  border-radius: 50%;
}

.ds{
  margin-left: 26px;
  margin-top: -52px;
  font-size: 3vw; 

  color: white; 
  text-align: center;  
  font-weight: bold;
}

.flex-container3{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 260px;
  background-image: url("imagens/back2.b766a59e8a62.jpg");
  background-size: cover;
  background-position: 100% 30%;
  border-top: 2px solid black;  

  
}

.flex-container4{
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 100%;
  height: 260px;
  background-image: url("imagens/back1.f29f578e99df.jpg");
  background-size: cover;
  background-position: 100% 30%;
  border-top: 2px solid black;  
}


.sec1 {
  height: 80px;
  width: 250px;
  border: 3px solid black;
  background-color: #E0DFDD;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.sec2{
  margin-left: 5px;
  height: 80px;
  width: 250px;
  border: 3px solid black;
  background-color: #E0DFDD;
  display: grid;
  grid-template-columns: 1fr 1fr;

  
}
  
.sec3 {
  margin-left: 5px;
  height: 80px;
  width: 250px;
  border: 3px solid black;
  background-color: #E0DFDD;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.caixatexto{
transform: rotate(-90deg);
    margin-bottom: auto;
    color: white;
    position: absolute;
    top: 1760px;
    margin-left: -13px;
    margin-top: 100px;
    font-size: 3vw;
}

.iii {
  margin-left: auto;
  margin-right: auto;
  color: white;
  height: 50px;
  width: 50px;
  z-index: 1;
  position: relative;
  top: -215px;
  left: 45%;
}

.footerl{
  text-align: center;
  font-size: 2vw;
  color: white;
}

.footerl1{
  text-align: center;
  font-size: 1.9vw;
  color: wheat;
}
/*Circles*/




.circle
{
  cx: 40;
  cy: 186;
  r: 5;
  stroke: black;
  stroke-width: 3;
  fill: red;

}

.circle1
{
  cx: 288;
  cy: 180;
  r: 5;
  stroke: black;
  stroke-width: 3;
  fill: green;

}

.circle2
{
  cx: 205;
  cy: 174;
  r: 5;
  stroke: black;
  stroke-width: 3;
  fill: blue;

}

.circle3
{
  cx: 260;
  cy: 176;
  r: 5;
  stroke: black;
  stroke-width: 3;
  fill: white;

}

.circle4
{
  cx: 27;
  cy: 128;
  r: 5;
  stroke: black;
  fill: purple;
}

.circle5
{
  cx: 273;
  cy: 163;
  r:5;
  stroke: black;
  stroke-width: 3;
  fill: black;

}

.circle6{
  cx: 285;
  cy: 88;
  r:5;
  stroke: black;
  stroke-width: 3;
  fill: rgb(145, 41, 41);
}

.circle7{
  cx: 114;
  cy: 71;
  r:5;
  stroke: black;
  stroke-width: 3;
  fill: rgb(11, 59, 82);
}

.circle8{
  cx: 210;
  cy: 60;
  r:5;
  stroke: black;
  stroke-width: 3;
  fill: rgb(68, 68, 68);
}

.flex-container5{
  display: grid;
    grid-column: 1fr 1fr 1fr;
    grid-template-rows: 3fr 3fr;
    width: 100%;
    height: 500px;
}


.flex-container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 98%;
  height: max-content;
  border: 4px solid black;
  background-image: url("imagens/back3.f25896f46e80.jpg");
  background-size: cover;
  background-position: 100% 30%;
}

.squizz{
  height: max-content;
  width: 100%;
  background-image: url("imagens/back5.f2a2ba10beeb.jpg");
    background-size: cover;
    background-position: 100% 30%;
    z-index: -1;

  
}


.fieldgrid{
grid-row-gap: 50px;
height: 90%;
width: 89%;
margin-left: auto;
margin-right: auto; 
display: grid;
grid-template-columns: 0.5fr 2fr 0.5fr;
grid-template-rows: 2fr 2fr 3fr 3fr;

font-size: 2.5vw;


}


.posicaofield{
  height: 80%;
  width: 100%;
  grid-column: 2/2;
  grid-row: 1;

  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.1fr 0.3fr 0.3fr 0.8fr 0.5fr;
  grid-row-gap: 1vw;
}

.masculino, .feminino, .outro{
  font-size: 2vw;
  margin-top: 12px;
}
.bmasculino, .bfeminino, .boutro{
  height: 10px;
  width: 10px;
  margin-left: -15px;
}

.email{
  margin-top: -30px;
}
.pergunta2{
  background-color: grey;
  color: white;
  grid-column: 2 / 5;
  grid-row: 5;
  margin-top: -38px;
  height: 22px;
}



.posicaofield1{
  height: 90%;
  width: 100%;
  grid-column: 2;
  grid-row: 2;

  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
}

.continente{
  color: white;
  grid-column: 1/5;
  grid-row: 1;
  margin-top: 15px;
}

.rcontinente {
  grid-column: 3;
  height: 20px;
  grid-row: 2;
  margin-left: -60px;
  margin-top: -22px;
}
.regiao {
color: white;
  grid-column: 1/5;
  grid-row: 3;
  margin-top: -10px;
}

.escolha{
height: 72px;
width: 55px;
grid-column: 2/3;
grid-row: 4;
margin-top: -44px;
text-align: center;
font-size: 3vw;
}



.posicaofield2{
height: 100%;
width: 100%;
grid-column: 1/3;
grid-row: 3;
margin-left: 25px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 0.3fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
grid-row-gap: 1vw;
}

.terceiro {
color: white;
grid-column: 1/5;
grid-row: 1;
margin-top: 15px;
}

.rimagem {
color: white;
grid-column: 1/4;
grid-row: 2;
margin-top: 8px;
}

.quarto {
color: white;
grid-column: 1/5;
grid-row: 3;
margin-top: 8px;
}

.rquarto {
color: white;
width: 100%;
grid-column: 1/3;
grid-row: 4;
margin-top: 8px;
}

.quinto {
color: white;
grid-column: 1/5;
grid-row: 5;
margin-top: 8px;
}

.jayz{
color: white;
grid-column: 1/1;
grid-row: 6;
margin-top: 8px;
}

.rjayz{
color: white;
grid-column: 1/1;
grid-row: 6;
margin-top: 6px;
margin-left: 36px;
}

.musk{
color: white;
  grid-column: 1/1;
  grid-row: 6;
  margin-top: 8px;
  margin-left: 70px;
}

.rmusk{
color: white;
grid-column: 2/2;
grid-row: 6;
margin-top: 7px;
margin-left: -46px;
}


.beyonce{
color: white;
grid-column: 2/2;
grid-row: 6;
margin-top: 8px;
margin-left: -8px;

}

.rbeyonce {
color: white;
grid-column: 2;
grid-row: 6;
margin-top: 7px;
margin-left: 13px;
}

.donald{
color: white;
grid-column: 1/1;
grid-row: 6;
margin-top: 35px;
margin-left: 0px;
}

.rdonald{
color: white;
grid-column: 1/1;
grid-row: 6;
margin-top: 33px;
margin-left: 65px;
}

.mark{
color: white;
grid-column: 1;
grid-row: 6;
margin-top: 35px;
margin-left: 90px;
}

.rmark{
color: white;
grid-column: 1;
grid-row: 6;
margin-top: 33px;
margin-left: 144px;
}


.sexto {
color: white;
grid-column: 1/5;
grid-row: 8;
margin-top: 8px;
}

.barra1 {
color: white;
  grid-column: 1/1;
  grid-row: 8;
  margin-top: 30px;
  width: 111px;
}

.mais {
color: white;
grid-column: 1;
grid-row: 8;
margin-top: 32px;
margin-left: 116px;
font-size: 3vw;
}

.input1 {
grid-column: 2/2;
  grid-row: 8;
  margin-top: 30px;
  margin-left: -28px;
  width: 72px;
}

.igual {
color: white;
  grid-column: 3;
  grid-row: 8;
  margin-top: 32px;
  margin-left: -13px;
  font-size: 3vw;
}

.output1 {
color: white;
  grid-column: 3/3;
  grid-row: 8;
  margin-top: 30px;
  margin-left: 0px;
  font-size: 4vw;
}


.headerTiago {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  width: 100%;
  height: 300px;
  background-image: url("imagens/principal.b94568eed0ce.jpg");
  background-size: cover;
  background-position: 100% 30%;
}



.posicaofield3{
height: 50%;
width: 100%;
grid-column: 2;
grid-row: 4;
display: grid;
grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
grid-template-rows: 0.5fr 1fr 0.5fr 1fr;
}

.setimo{
color: white;
  grid-column: 1/6;
  grid-row: 1;
  margin-top: 30px;
}

.rsetimo{
grid-column: 3/5;
  grid-row: 2;
  margin-top: -6px;
  height: 17px;
  margin-left: -100px;

}

.oitava{
color: white;
grid-column: 1/5;
grid-row: 3;
margin-top: -62px;
}

.roitava{
grid-column: 2/6;
grid-row: 3;
margin-top: -38px;
height: 17px;
margin-left: -46px;

}

.submeter{
grid-column: 2/2;
grid-row: 4;
height: 50px;
width: 140px;
margin-top: 192px;
margin-left: 42px;
}

.flex-container6 {
display: flex;
align-items: center;
justify-content: space-evenly;
height: 100px;
margin: 0!important;
background-color: black;
}


.footerl{
text-align: center;
font-size: 2vw;
color: white;
}

.footerl1{
text-align: center;
font-size: 1.9vw;
color: wheat;
}

.natgeo{
height: 10vw;
width: 145vw;
}

.zoolisa{
width: 100vw;
  height: 12vw;
}




.aside2, .aside1 {
display: none;
}

#inveh1{
  position: absolute;
  top: 5vw;
  right: 8vw;
}




.sabout{
  height: 100%;
  width: 100%;
  background-image: url("imagens/back6.dd877b1e2466.jpg");
    background-size: cover;
    background-position: 80% 30%;
    z-index: -1;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 0.5fr 1fr 0.5fr;
}


.sobresite{
  color: black;
  grid-row: 1;
  grid-column: 1/4;
  font-size: 3vw;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  text-align: justify;
}

#inventario{
  grid-column: 1/4;
  grid-row: 2;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
}

#inventario td, #inventario th {
  font-size: 3vw;
padding: 8px;
text-align: center;
border: 2px solid black;
}

#HTML5{
  grid-column: 1/4;
  grid-row: 3;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
border: 2px solid black;
margin-left: auto;
margin-right: auto;
}

#HTML5 td, #HTML5 th {
  font-size: 3vw;
padding: 8px;
text-align: center;
border: 2px solid black;
}





#CSS{
  grid-column: 1/4;
  grid-row: 4;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
border: 2px solid black;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
}

#CSS td, #CSS th {
  font-size: 3vw;
padding: 8px;
text-align: center;
border: 2px solid black;
}


#caracteristicas{
  grid-column: 1/4;
    grid-row: 5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vw;
    border-collapse: collapse;
    width: 77%;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#caracteristicas td, #caracteristicas th {
padding: 8px;
text-align: center;
border: 2px solid black;
}









#Layout{
  grid-row: 6;
  grid-template-rows: 3fr 2fr;
}


#primeirolayout{
  grid-column: 2;
  grid-row: 1;
  margin-left: 2vw;
  margin-top: 10vw;
}

#segundolayout{
  grid-column: 4;
  grid-row: 1;
  margin-top: 10vw;
}
#terceirolayout{
  grid-column: 2;
  grid-row: 2;
  margin-top: 0vw;
}
#quartolayout{
  grid-column: 4;
  grid-row: 2;
  margin-left: 2vw;
  margin-top: 0vw;
}

.detail1{
  font-size: 2vw;
}



.mapaweb{
  grid-row: 8;
  margin-bottom: -162px;
  display: grid;
  grid-template-rows: 2fr 2fr;
}

.jjjj{
  grid-column: 1/5;
  grid-row: 1;
}

.oooo{
    grid-column: 1/5;
  grid-row: 2;
  margin-bottom: 0;
  margin-left: 56px;
}

.videosobreweb{
  margin-top: 20px;
  margin-bottom: 10px;

  margin-left: -10px;
  width: 90%;
  width: 90%;
 
}

.titulovideoweb {
  margin-top: -35px;
  font-size: 4vw;
  margin-left: -18px;
}
}






























/*Tiago*/

@media only screen and (max-width: 1024px) {
   

  .foto {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 2;
      grid-row-end: 3;
      
      box-sizing: border-box;
  }
  
 
  
  .descrição {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .texto {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 4;
      grid-row-end: 5;
     
      
    }

    .vida {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 5;
      grid-row-end: 6;
    }

    .foto2 {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 6;
      grid-row-end: 7;
      
      
  }
  .descrição2 {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 7;
      grid-row-end: 8;
    }

    .texto2 {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 8;
      grid-row-end: 9;
     
    }

    .vida2 {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 9;
      grid-row-end: 10;
    }  
}  

.animais h1 {
  
  position: relative;
  animation-name: mamíferos;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes mamíferos {
  0% {left: 0;}
  50% {left: 75%;}
  100% {right: 10vw;}

}

@keyframes girafa {
  from {
      left: 0%;
      top: 0%;
  }
  to {
      left: 78%;
      top: 45%;
  }

}


@keyframes bird {
  from {
      left: 0%;
      top: 0%;
  }
  to {
      left: 78%;
      top: 45%;
  }

}

@keyframes komodo {
  from {
      left: 0%;
      top: 0%;
  }
  to {
      left: 78%;
      top: 45%;
  }

}

#girafa {
    width: 10vw;
    height: 10vw;
    position: absolute;
    right: 10.5vw;
    top: 15vw;
    animation-name: girafa;
    animation-duration: 5s;
    animation-iteration-count: 1;
  
}   

#bird {
  width: 8vw;
  height: 8vw;
  position: absolute;
  right: 9.3vw;
  top: 15vw;
  animation-name: bird;
  animation-duration: 8s;
  animation-iteration-count: 1;

}   


#komodo {
width: 8vw;
height: 8vw;
position: absolute;
right: 11vw;
top: 15vw;
animation-name: komodo;
animation-duration: 10s;
animation-iteration-count: 1;

} 

#piranha {
width: 8vw;
height: 8vw;
position: absolute;
right: 9.5vw;
top: 15vw;
animation-name: komodo;
animation-duration: 10s;
animation-iteration-count: 1;

}

#ra {
width: 8vw;
height: 8vw;
position: absolute;
right: 11vw;
top: 15vw;
animation-name: komodo;
animation-duration: 10s;
animation-iteration-count: 1;

}


#aranha{
  width: 8vw;
    height: 8vw;
    position: absolute;
    right: 10.5vw;
    top: 15vw;
    animation-name: komodo;
    animation-duration: 10s;
    animation-iteration-count: 1;
}

.button{

color:white;
background: #60a3bc;
padding: 2vw;
border: none;
border-radius: 3vw;
font-size: 1.5vw;


}
.button1{

  color:white;
  background: #60a3bc;
  padding: 2vw;
  border: none;
  border-radius: 3vw;
  font-size: 1.5vw;
  
  
  }

.button:hover, .button1:hover {
text-shadow: 1vw 1vw 1vw rgba(255, 255, 255, 1);

}





.animais h1 {
  position: absolute;
  top: 5vw;
  right: 10vw;
} 


.animais section {
  margin: 2vw 0 2vw 0;
  padding: 5vw;
  position: relative;
  
  
}

  
 
 .animais img {
   width: 70%;
   border-radius: 20px;  
    
}

 
 
 
  #ra:hover,#komodo:hover,#bird:hover,#chimp:hover,#girafa:hover,#piranha:hover,#aranha:hover {
    transform: scale(2);
  }
 
 .animais img:hover:not(#ra,#komodo,#bird,#chimp,#girafa,#piranha,#aranha){
   filter: grayscale();
   
 }
 
 
 
 .foto {
    padding: 0.5vw;
    border: ridge;   
    height: max-content;   
 }

 .foto2 {
     padding: 0.5vw;
     border: ridge;
     height: max-content;
 }

 

 
 .texto {
     margin: 1vw;
     padding: 2vw;
 }
 
 .texto2 {
  margin: 1vw;
  padding: 2vw;
}

 .habitos {
    display: inline-flex;
          
 }
 
 .habitos figure {
     padding: 2vw;
 }
 
 .reprodução {
  display: inline-flex;
 }

 .reprodução figure {
     padding: 1vw;

 }
 
 .vida section {
     margin: 1vw;
 }


 @media only screen and (max-width: 361px) {
  .button {
    color: white;
    background: #60a3bc;
    padding: 2vw;
    border: none;
    border-radius: 3vw;
    font-size: 2.5vw;
}
.button1 {
  color: white;
  background: #60a3bc;
  padding: 2vw;
  border: none;
  border-radius: 3vw;
  font-size: 2.5vw;
  margin-right:8px;
}
#iconhome {
    font-size: 2.7vw;
    position: relative;
    left: -8px;
    top: 1px;
    color: wheat;
}
.mmm{
  position: relative;
  left: 15px;
  top: -9px;
}

.sec1 {
  height: 65px;
  width: 250px;
  border: 3px solid black;
  background-color: #E0DFDD;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sec2 {
  margin-left: 5px;
  height: 65px;
  width: 250px;
  border: 3px solid black;
  background-color: #E0DFDD;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sec3 {
  margin-left: 5px;
  height: 65px;
  width: 250px;
  border: 3px solid black;
  background-color: #E0DFDD;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

 }














 @media only screen and (max-width: 1367px){
  .flex-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: max-content;
    border: 0px solid black;
    background-image: url("imagens/back3.f25896f46e80.jpg");
    background-size: cover;
    background-position: 100% 30%;
}
}

.editarperfil{
    color: white;
    margin-left: 210%;


}